reasoning-from-scratch >= 0.1.2
torch >= 2.7.1
tokenizers >= 0.21.2
fastapi
pydantic
requests
streamlit
uvicorn
beautifulsoup4
feedparser
schedule
wikipedia
aiohttp
sentence-transformers
faiss-cpu
scikit-learn
pandas
numpy